USE [master]
GO
/****** Object:  Database [XemPhim_Booking]    Script Date: 8/11/2026 8:41:37 PM ******/
CREATE DATABASE [XemPhim_Booking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XemPhim_Booking', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Booking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XemPhim_Booking_log', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Booking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XemPhim_Booking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XemPhim_Booking]
GO
/****** Object:  Table [dbo].[booking_seats]    Script Date: 8/11/2026 8:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_seats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 8/11/2026 8:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[showtime_id] [int] NOT NULL,
	[booking_code] [varchar](255) NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[expire_at] [datetime] NULL,
	[qr_token] [varchar](255) NULL,
	[qr_data] [nvarchar](max) NULL,
	[checked_in] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[booking_seats] ON 

INSERT [dbo].[booking_seats] ([id], [booking_id], [seat_id], [price]) VALUES (94, 85, 18, CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[booking_seats] ([id], [booking_id], [seat_id], [price]) VALUES (95, 86, 18, CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[booking_seats] ([id], [booking_id], [seat_id], [price]) VALUES (96, 87, 19, CAST(75000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[booking_seats] OFF
GO
SET IDENTITY_INSERT [dbo].[bookings] ON 

INSERT [dbo].[bookings] ([id], [user_id], [showtime_id], [booking_code], [total_price], [status], [created_at], [expire_at], [qr_token], [qr_data], [checked_in]) VALUES (85, 7, 178, N'5cbaf39f-4fd4-4bd9-94f4-7db574aae8ed', CAST(75000.00 AS Decimal(10, 2)), N'expired', CAST(N'2026-05-19T14:24:46.467' AS DateTime), CAST(N'2026-05-19T14:26:46.467' AS DateTime), N'85CF4118-565F-4A81-A981-7461C111E116', NULL, 0)
INSERT [dbo].[bookings] ([id], [user_id], [showtime_id], [booking_code], [total_price], [status], [created_at], [expire_at], [qr_token], [qr_data], [checked_in]) VALUES (86, 7, 178, N'7319f450-d565-4594-92e7-b09ff920de36', CAST(75000.00 AS Decimal(10, 2)), N'refunded', CAST(N'2026-05-19T14:28:44.713' AS DateTime), CAST(N'2026-05-19T14:30:44.713' AS DateTime), N'FE43FFFC-9627-489C-AA2C-D9AC44EE3516', N'{"booking_id":86,"token":"FE43FFFC-9627-489C-AA2C-D9AC44EE3516"}', 0)
INSERT [dbo].[bookings] ([id], [user_id], [showtime_id], [booking_code], [total_price], [status], [created_at], [expire_at], [qr_token], [qr_data], [checked_in]) VALUES (87, 7, 178, N'3c192188-eb10-4fd7-9504-820a49a59758', CAST(75000.00 AS Decimal(10, 2)), N'confirmed', CAST(N'2026-05-19T14:35:36.070' AS DateTime), CAST(N'2026-05-19T14:40:36.070' AS DateTime), N'1DFFF6C7-EEDB-4FA9-9D60-75C4AA4BD3E2', N'{"booking_id":87,"token":"1DFFF6C7-EEDB-4FA9-9D60-75C4AA4BD3E2"}', 0)
SET IDENTITY_INSERT [dbo].[bookings] OFF
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [checked_in]
GO
ALTER TABLE [dbo].[booking_seats]  WITH CHECK ADD  CONSTRAINT [FK_booking_seats_bookings] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[booking_seats] CHECK CONSTRAINT [FK_booking_seats_bookings]
GO
USE [master]
GO
