USE [master]
GO
/****** Object:  Database [XemPhim_User]    Script Date: 8/11/2026 8:46:04 PM ******/
CREATE DATABASE [XemPhim_User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XemPhim_User', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_User.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XemPhim_User_log', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_User_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XemPhim_User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XemPhim_User]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/11/2026 8:46:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[role] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [full_name], [email], [password_hash], [phone_number], [role], [created_at]) VALUES (5, N'hung', N'phamtuanhung9a5@gmail.com', N'$2b$10$G4iP1PrXlmUWHuDuzEg0HeVBw.qENNPkFG4vEcxLeVFKtbk/WZYD.', N'01207412289', N'customer', CAST(N'2025-10-09T14:23:55.667' AS DateTime))
INSERT [dbo].[users] ([id], [full_name], [email], [password_hash], [phone_number], [role], [created_at]) VALUES (6, N'HƯNG PHẠM TUẤN', N'phamtuanhung242004@gmail.com', N'$2b$10$G4iP1PrXlmUWHuDuzEg0HeVBw.qENNPkFG4vEcxLeVFKtbk/WZYD.', NULL, N'customer', CAST(N'2026-04-03T13:41:34.663' AS DateTime))
INSERT [dbo].[users] ([id], [full_name], [email], [password_hash], [phone_number], [role], [created_at]) VALUES (7, N'hưng phạm', N'hungneverdie24@gmail.com', N'$2b$10$G4iP1PrXlmUWHuDuzEg0HeVBw.qENNPkFG4vEcxLeVFKtbk/WZYD.', NULL, N'admin', CAST(N'2026-05-19T13:56:09.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616492F7EEC3]    Script Date: 8/11/2026 8:46:05 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
USE [master]
GO
