USE [master]
GO
/****** Object:  Database [XemPhim_Movie]    Script Date: 8/11/2026 8:42:59 PM ******/
CREATE DATABASE [XemPhim_Movie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XemPhim_Movie', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Movie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XemPhim_Movie_log', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Movie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XemPhim_Movie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XemPhim_Movie]
GO
/****** Object:  Table [dbo].[cinema_halls]    Script Date: 8/11/2026 8:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinema_halls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[total_seats] [int] NOT NULL,
	[cinema_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cinemas]    Script Date: 8/11/2026 8:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinemas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](500) NULL,
	[city] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 8/11/2026 8:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_genres]    Script Date: 8/11/2026 8:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_genres](
	[movie_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 8/11/2026 8:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[poster_url] [varchar](500) NULL,
	[backdrop_url] [varchar](500) NULL,
	[trailer_url] [varchar](500) NULL,
	[duration_minutes] [int] NULL,
	[release_date] [date] NULL,
	[rating] [decimal](3, 1) NULL,
	[director] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[age_rating] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seats]    Script Date: 8/11/2026 8:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hall_id] [int] NOT NULL,
	[row_name] [char](1) NOT NULL,
	[seat_number] [int] NOT NULL,
	[seat_type] [nvarchar](255) NOT NULL,
	[price_modifier] [decimal](15, 2) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[showtimes]    Script Date: 8/11/2026 8:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[showtimes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NOT NULL,
	[hall_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[base_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cinema_halls] ON 

INSERT [dbo].[cinema_halls] ([id], [name], [total_seats], [cinema_id]) VALUES (1, N'Hall 1', 100, 1)
INSERT [dbo].[cinema_halls] ([id], [name], [total_seats], [cinema_id]) VALUES (2, N'Hall 2', 120, 1)
INSERT [dbo].[cinema_halls] ([id], [name], [total_seats], [cinema_id]) VALUES (3, N'Hall 1', 90, 2)
SET IDENTITY_INSERT [dbo].[cinema_halls] OFF
GO
SET IDENTITY_INSERT [dbo].[cinemas] ON 

INSERT [dbo].[cinemas] ([id], [name], [address], [city], [status], [created_at], [updated_at]) VALUES (1, N'Cineplex A', N'182 Lê Đại Hành, Phường 15, Quận 11', N'Hồ Chí Minh', N'active', CAST(N'2026-05-22T09:09:47.260' AS DateTime), CAST(N'2026-05-22T09:09:47.260' AS DateTime))
INSERT [dbo].[cinemas] ([id], [name], [address], [city], [status], [created_at], [updated_at]) VALUES (2, N'Cineplex B', N'126 Hùng Vương, Phường 12, Quận 5', N'Hồ Chí Minh', N'active', CAST(N'2026-05-22T09:09:47.260' AS DateTime), CAST(N'2026-05-22T09:09:47.260' AS DateTime))
INSERT [dbo].[cinemas] ([id], [name], [address], [city], [status], [created_at], [updated_at]) VALUES (8, N'CGV Vincom Đồng Khởi', N'72, Lê Thánh Tôn, Quận 1', N'TP. Hồ Chí Minh', N'active', CAST(N'2026-06-10T09:57:15.980' AS DateTime), CAST(N'2026-06-10T09:57:15.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[cinemas] OFF
GO
SET IDENTITY_INSERT [dbo].[genres] ON 

INSERT [dbo].[genres] ([id], [name]) VALUES (1, N'Action')
INSERT [dbo].[genres] ([id], [name]) VALUES (2, N'Drama')
INSERT [dbo].[genres] ([id], [name]) VALUES (3, N'Sci-Fi')
SET IDENTITY_INSERT [dbo].[genres] OFF
GO
INSERT [dbo].[movie_genres] ([movie_id], [genre_id]) VALUES (2, 6)
INSERT [dbo].[movie_genres] ([movie_id], [genre_id]) VALUES (3, 1)
INSERT [dbo].[movie_genres] ([movie_id], [genre_id]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

SET IDENTITY_INSERT [dbo].[movies] OFF
GO
SET IDENTITY_INSERT [dbo].[seats] ON 

INSERT [dbo].[seats] ([id], [hall_id], [row_name], [seat_number], [seat_type], [price_modifier], [is_active]) VALUES (1, 6, N'A', 1, N'regular', CAST(1.00 AS Decimal(15, 2)), 1)
INSERT [dbo].[seats] ([id], [hall_id], [row_name], [seat_number], [seat_type], [price_modifier], [is_active]) VALUES (2, 6, N'A', 2, N'regular', CAST(1.00 AS Decimal(15, 2)), 1)
INSERT [dbo].[seats] ([id], [hall_id], [row_name], [seat_number], [seat_type], [price_modifier], [is_active]) VALUES (3, 6, N'A', 3, N'regular', CAST(1.00 AS Decimal(15, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[seats] OFF
GO
SET IDENTITY_INSERT [dbo].[showtimes] ON 

INSERT [dbo].[showtimes] ([id], [movie_id], [hall_id], [start_time], [end_time], [base_price]) VALUES (168, 2, 1, CAST(N'2026-06-15T01:30:00.000' AS DateTime), CAST(N'2026-06-15T03:30:00.000' AS DateTime), CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[showtimes] ([id], [movie_id], [hall_id], [start_time], [end_time], [base_price]) VALUES (169, 3, 1, CAST(N'2026-06-15T04:00:00.000' AS DateTime), CAST(N'2026-06-15T06:00:00.000' AS DateTime), CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[showtimes] ([id], [movie_id], [hall_id], [start_time], [end_time], [base_price]) VALUES (170, 4, 1, CAST(N'2026-06-15T06:30:00.000' AS DateTime), CAST(N'2026-06-15T08:30:00.000' AS DateTime), CAST(75000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[showtimes] OFF
GO
ALTER TABLE [dbo].[cinemas] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cinemas] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[movies] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[movies] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[seats] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cinema_halls]  WITH CHECK ADD  CONSTRAINT [FK_halls_cinemas] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cinema_halls] CHECK CONSTRAINT [FK_halls_cinemas]
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD  CONSTRAINT [FK_movie_genres_genres] FOREIGN KEY([genre_id])
REFERENCES [dbo].[genres] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movie_genres] CHECK CONSTRAINT [FK_movie_genres_genres]
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD  CONSTRAINT [FK_movie_genres_movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movie_genres] CHECK CONSTRAINT [FK_movie_genres_movies]
GO
ALTER TABLE [dbo].[seats]  WITH CHECK ADD FOREIGN KEY([hall_id])
REFERENCES [dbo].[cinema_halls] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[showtimes]  WITH CHECK ADD  CONSTRAINT [FK_showtimes_halls] FOREIGN KEY([hall_id])
REFERENCES [dbo].[cinema_halls] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[showtimes] CHECK CONSTRAINT [FK_showtimes_halls]
GO
ALTER TABLE [dbo].[showtimes]  WITH CHECK ADD  CONSTRAINT [FK_showtimes_movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[showtimes] CHECK CONSTRAINT [FK_showtimes_movies]
GO
USE [master]
GO
