USE [master]
GO
/****** Object:  Database [XemPhim_Seat]    Script Date: 8/11/2026 8:45:29 PM ******/
CREATE DATABASE [XemPhim_Seat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XemPhim_Seat', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Seat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XemPhim_Seat_log', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Seat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XemPhim_Seat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XemPhim_Seat]
GO
/****** Object:  Table [dbo].[seats]    Script Date: 8/11/2026 8:45:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hall_id] [int] NOT NULL,
	[row_name] [varchar](10) NOT NULL,
	[seat_number] [int] NOT NULL,
	[seat_type] [varchar](50) NULL,
	[price_modifier] [decimal](10, 2) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[seats] ON 

INSERT [dbo].[seats] ([id], [hall_id], [row_name], [seat_number], [seat_type], [price_modifier], [is_active]) VALUES (18, 1, N'A', 1, N'regular', CAST(1.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[seats] ([id], [hall_id], [row_name], [seat_number], [seat_type], [price_modifier], [is_active]) VALUES (19, 1, N'A', 2, N'regular', CAST(1.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[seats] ([id], [hall_id], [row_name], [seat_number], [seat_type], [price_modifier], [is_active]) VALUES (20, 1, N'A', 3, N'regular', CAST(1.00 AS Decimal(10, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[seats] OFF
GO
ALTER TABLE [dbo].[seats] ADD  DEFAULT ('Regular') FOR [seat_type]
GO
ALTER TABLE [dbo].[seats] ADD  DEFAULT ((0.00)) FOR [price_modifier]
GO
ALTER TABLE [dbo].[seats] ADD  DEFAULT ((1)) FOR [is_active]
GO
USE [master]
GO
