USE [master]
GO
/****** Object:  Database [XemPhim_Payment]    Script Date: 8/11/2026 8:44:02 PM ******/
CREATE DATABASE [XemPhim_Payment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XemPhim_Payment', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Payment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XemPhim_Payment_log', FILENAME = N'D:\sql_sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\XemPhim_Payment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XemPhim_Payment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XemPhim_Payment]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 8/11/2026 8:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[payment_method] [varchar](50) NULL,
	[payment_code] [varchar](255) NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[qr_url] [varchar](2000) NULL,
	[expire_at] [datetime] NULL,
	[status] [varchar](50) NOT NULL,
	[transaction_ref] [varchar](255) NULL,
	[response_code] [varchar](50) NULL,
	[secure_hash] [varchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [booking_id], [payment_method], [payment_code], [amount], [qr_url], [expire_at], [status], [transaction_ref], [response_code], [secure_hash], [created_at], [updated_at]) VALUES (164, 85, N'zalopay', N'260519_119617', CAST(75000.00 AS Decimal(10, 2)), N'https://qcgateway.zalopay.vn/openinapp?order=eyJ6cHRyYW5zdG9rZW4iOiJBQ0RLV0tXSEk3RFBHN3ZWakhFNlg0MVEiLCJhcHBpZCI6MjU1NH0=', CAST(N'2026-05-19T14:25:47.073' AS DateTime), N'expired', N'ACDKWKWHI7DPG7vVjHE6X41Q', NULL, NULL, CAST(N'2026-05-19T14:24:46.543' AS DateTime), NULL)
INSERT [dbo].[payments] ([id], [booking_id], [payment_method], [payment_code], [amount], [qr_url], [expire_at], [status], [transaction_ref], [response_code], [secure_hash], [created_at], [updated_at]) VALUES (166, 85, N'zalopay', N'260519_685207', CAST(75000.00 AS Decimal(10, 2)), N'https://qcgateway.zalopay.vn/openinapp?order=eyJ6cHRyYW5zdG9rZW4iOiJBQ09Pb3haS0IzRjBDUEROa1N5alVzZHciLCJhcHBpZCI6MjU1NH0=', CAST(N'2026-05-19T14:27:32.237' AS DateTime), N'expired', N'ACOOoxZKB3F0CPDNkSyjUsdw', NULL, NULL, CAST(N'2026-05-19T14:26:32.063' AS DateTime), NULL)
INSERT [dbo].[payments] ([id], [booking_id], [payment_method], [payment_code], [amount], [qr_url], [expire_at], [status], [transaction_ref], [response_code], [secure_hash], [created_at], [updated_at]) VALUES (167, 86, N'zalopay', N'260519_722411', CAST(75000.00 AS Decimal(10, 2)), N'https://qcgateway.zalopay.vn/openinapp?order=eyJ6cHRyYW5zdG9rZW4iOiJBQ3llTi13SEZwQmdNa083NnJUSUhES2ciLCJhcHBpZCI6MjU1NH0=', CAST(N'2026-05-19T14:29:45.233' AS DateTime), N'refunded', N'260519000031701', N'1', NULL, CAST(N'2026-05-19T14:28:44.873' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
USE [master]
GO
